{% extends "techCourses/guide.html" %}
{% block content %}
 <h1>Contact Us</h1>
      <div class="content-section">
        <h2>Have a question?</h2>
	<h3>Write Us!</h3>
          <ul class="list-group">
            <a class="list-group-item list-group-item-action">Email: techcourses@gmail.com</a>
            <a class="list-group-item list-group-item-action">Phone Number: (+506) 8888-8888</a>
           
	     <div class="form-group col-md-03"
		<label>  Or Leave a Comment:</label>
                <input type="mail" class="form-control" formControlName="comment">
            	</div>
	      <div class="form-group col-md-auto">
              <a href="/contact" class="button btn btn-dark btn-primary-spacing">Submit</a>  </div>
          </ul>
        </p>
      
    </div>


{% endblock content %}
