{% extends "techCourses/guide.html" %}
{% block content %}
<main role="main" class="container">
    <h1>About Us</h1>
 <img src="https://www.fiba.basketball/images.fiba.com/Graphic/E/A/A/D/Dphoylq-00q8i1SNQ2C6zw.jpg?v=20170913161529020"  width="600"
     height="400"> 

<meta name="viewport" content="width=device-width, initial-scale=1">
   <style>
       body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
       h1{font-family:Verdana, sans-serif;color:#000000;background-color:#ffffff;}
       p {text-align:center;font-family:Verdana, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
   </style>
   </head>
	<body>
	<h1></h1>
	<p>Salvador is the capital of Bahia, a state known for its natural beauty, the friendliness of its pueblo and the strong influence of African culture.</p>
	<p></p>
	<p>Capoeira movements, a martial art that is more like a dance, the aromas and flavors of specialties, religious syncretism and cultural mix are samples of the joy of a pueblo you know, perhaps because it is surrounded by natural beauty, the broadest meaning of the word of life. The city is also home to one of the most lively and disputed carnivals in the country.</p>
	<p></p>
	<p>The first capital of Brazil preserves an important historical center, recognized as a World Heritage Site by Unesco: Pelourinho, which offers visits to several churches of Brazilian baroque and secular houses. </p>
	</body>

</main>

{% endblock content %}
