{% load static %}
<!DOCTYPE html>
<html>
<title>Tech Courses </title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'techCourses/main.css'%}">
</head>
<body>

<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg fixed-top">
    <div class="container">
      <a class="navbar-brand mr-5 offset-md-5" href="/main">Tech Courses</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="dropdown">
   <button class="btn btn-secondary dropdown-toggle bg1 " type="button" id="dropdownMenuButton1" data-bs-target="#navbarNavDarkDropdown" data-bs-toggle="dropdown" aria-expanded="true" >
    More
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a class="dropdown-item" href="/about">About</a></li>
    <li><hr class="dropdown-divider"></li>
    <li><a class="dropdown-item" href="/">Log Out</a></li>
  </ul>
</div>
  
</div>
      </div>
    </div>
  </nav>
</header>
<main role="main" class="container">
  <div class="row">
    <div class="col-md-8">
      {% block content %}{% endblock %}
      
    </div>
    <div class="col-md-4">
      <div class="content-section">
        <h2>Tech Courses</h2>
	<h4>Easy for you, easy for us</h4>
          <ul class="list-group">
            <a href="/listcourses" class="list-group-item list-group-item-action">List of Courses</a>
            <a href="/visionmision" class="list-group-item list-group-item-action">Vision and Mision</a>
            <a href="/contact" class="list-group-item list-group-item-action">Contact info</a>
          </ul>
        </p>
      </div>
    </div>
  </div>
</main>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>