{% extends "techCourses/guide.html" %}
{% block content %}
<div class="offset-md-3">
<h1>Why Tech Courses?</h1>
</div>
<main role="main" class="container">
 
 <meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
	body {background-color:#ffffff;background-repeat:no-repeat;background-position:top left;background-attachment:fixed;}
	h1{font-family:Arial, sans-serif;color:#000000;background-color:#ffffff;}
	p {text-align:center;font-family:Verdana, serif;font-size:14px;font-style:normal;font-weight:normal;color:#000000;background-color:#ffffff;}
	</style>
	</head>
	<body>
	<h1></h1>
	<p>Mission</p>
	<p>To develop research, extension and services in biotechnology, to offer relevant and excellent solutions through multidisciplinary work.</p>
	<p>Vision</p>
	<p>To be a leading research center in biotechnology that has a positive impact on the environment and on the quality of life of society.</p>
	</body>
</main>
{% endblock content %}